@tailwind base;
@tailwind component;
@tailwind utilities;

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'DM Sans Italic';
    src: url('../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}


.frame{
    width: 1120px;
}

h1,h2,h3{
    font-weight: 500;
}

h2,h3{
    letter-spacing: -2px;
}

h1{
    font-size: 63px;
    line-height: 3.75rem;
}

h2{
    font-size: 40px;
    line-height: 2.25rem;
    
}

h3{
    font-size: 32px;
    line-height: 1.8rem;
}

p{
    font-size: 18px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
